* {
    font-family: Montserrat, sans-serif;
    background-color: #f7f7f7;
}

input {
    display: block;
}

.mainLink {
    color: #413f41;
    width: 50%;
    min-height: 20px;
    margin-right: 50%;
    margin-top: 10%;
    transform: translate(50%, -50%);
    text-align: center;
    border: black solid 1px;
    border-radius: 100px;
    display: block;
}

.mainLink:hover {
    color: black;
}

.postCard {
    border: black solid 1px;
    border-radius: 10px;
    width: 94%;
    min-height: 310px;
    margin-right: 4%;
    margin-top: 2%;
    display: block;
    padding: 1%;
}

.image {
    width: 50%;
    max-width: 200px;
    margin: 1%;
    float: left;
}

.postName {
    font-size: 1.4em;
    width: 56%;
}

.postText {
    font-size: 1em;
    margin-left: 1%;
    margin-right: 1%;
}

.rightBlock {
    margin-top: 2%;
    width: 74%;
    float: right;
}

.leftBlock {
    margin-top: 2%;
    width: 24%;
    float: left;
}

.userName {
    font-size: 1.2em;
    display: block;
}

.dateOfBUser {
    font-size: 0.7em;
    color: #383838;
}

.dateOfBLabel {
    font-size: 0.7em;
    color: #383838;
}

.userAvatar {
    width: 98%;
    margin-left: 4%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.userSettings {
    font-size: 0.7em;
    color: #383838;
    float: right;
    margin-right: 4%;
}

.userSettings:hover {
    color: black;
}